{% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
{% block content %}
<h1 class="text-primary">About Organization</h1>
    <p style="color: deeppink">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad assumenda commodi cupiditate distinctio dolore doloremque facilis illo laudantium minima nam, odit quis sequi soluta tempora temporibus velit voluptatem! Aut dolor eveniet ipsam, nisi odit omnis pariatur sequi velit veniam vitae?</p>
    <br>
<h1 class="text-primary">About Founder</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum earum facilis inventore iure minus nesciunt nobis repellat repudiandae ullam vero. Doloremque facilis iure officia quas quos sapiente sed, totam voluptate?</p>
<h2>About Courses</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad, atque cupiditate debitis delectus harum impedit inventore ipsa laudantium necessitatibus nesciunt nobis odit pariatur provident quae quam quis quo saepe sint sit temporibus unde vitae! Commodi cumque eaque excepturi exercitationem mollitia non officiis placeat totam? Id illum nesciunt totam veritatis.</p>
{% endblock %}
</body>
</html>